html {
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    background-color: #FFFCF2;
}
h1 {
    text-align: center;
    color: #35393C;
    font-size: 3em;
}

.top-nav {
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;

}
.top-nav .nav-item {
    margin-left: auto;
}
.top-nav .nav-item a {
    color: white;
    background-color: #CCC5B9;
    text-decoration: none;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid none;
    border-radius: 11px;
    margin-left: 10px;
    transition: 0.3s ease;
}
.top-nav .nav-item a:hover {
    background-color: #403D39;
}
.nav-icon-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
}

.index-image {
    margin-top: 100px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    text-align: center;
}
.index-image-image {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: center;  /* Horizontally center the login_form */
    text-align: center;
    align-items: flex-start;  /* Align the login_form to the top */
    padding-top: 100px;  /* Optional, to add some space from the top */
}

.login_form {
    width: 300px;  /* Set a fixed width for the form */
    padding: 20px;
    background-color: #CCC5B9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_form .url {
    padding-top: 5px;
    padding-bottom: 5px;
}
.login_form a {
    color: #403D39;
    background-color: #CCC5B9;
    text-decoration: none;
    padding: 1em;
    border: 1px solid none;
    border-radius: 11px;
    transition: 0.3s ease;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    color: 403D39;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit {
    background-color: #403D39;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
#submit:hover {
    background-color: #252422;
}
.alert {
    padding: 20px;
    background-color: #CCC5B9;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;  /* This ensures vertical centering */
    padding: 1rem 1rem;
}
.alert-warning {
    background-color: #403D39;  /* Custom yellow */
    color: white;               /* Darker text */
    border: 2px solid #403D39; /* Orange border */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

/* Optional: customize close button */
.alert .btn-close {
    margin-left: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: #403D39;
    filter: invert(1); /* Makes the close icon white/black depending on background */
}
.alert .btn-close:hover {
    background-color: #252422;
}
.dash-container {
    display: flex;
    justify-content: center;
}
.dashboard-container {
    background-color: #CCC5B9;
    display: flex;
    align-items: flex-start;  /* Align the login_form to the top */
    padding: 75px 75px 50px 50px;
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
    overflow: auto;
}

.dashboard-item {
    background-color: #403D39;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    color: white;
    overflow: auto;
    margin-left: 30px;
}

.item-icon-image {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 15px;
}
.dashboard-item h3 {
    margin-left: 15px;
    margin-top: 30px;

}
.dashboard-item p {
    margin-left: 15px;
    margin-top: 30px;
}
.item-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
