{% extends "base.html" %}
{% block content %}
    <h1>Apply for Job</h1>
    <div class="form-container">
        <div class="login_form">
            <form method="POST" id="login" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <label>Firstname:</label>
                {{ form.firstname }}
                <label>Lastname:</label>
                {{ form.lastname }}
                <label>Email:</label>
                {{ form.email }}
                <label>Resume:</label>
                {{ form.resume }}
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}