{% extends "base.html" %}
{% block content %}
    <h1>Login</h1>
    <div class="form-container">
        <div class="login_form">
            <form method="POST" id="login">
                {{ form.hidden_tag() }}
                <label>Username:</label>
                {{ form.username }}
                <label>Password:</label>
                {{ form.password }}
                {{ form.submit }}
            </form>
            <div class="url">
                <a href="{{ url_for('register') }}">Don't have an account? Register</a>
            </div>
            <div class="url">
                <a href="{{ url_for('reset_password_request') }}">Forgot your password? Reset It</a>
            </div>
        </div>
    </div>
{% endblock %}