<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="script" type="text/javascript" href="{{ url_for('static', filename='js/script.js') }}">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="content">
        <div class="top-nav">
            <div class="nav-icon">
                <img src="{{ url_for('static', filename='images/a cute panda.png') }}" alt="icon" class="nav-icon-image">
            </div>
            <div class="nav-item">
                {% if request.path != '/' %}
                    <a href="{{ url_for('index') }}">Home</a>
                {% endif %}
                {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
