{% extends "base.html" %}
{% block content %}
    <h1>Dashboard</h1>
    <div class="dash-container">
        <div class="dashboard-search">
            <form action="{{ url_for('dashboard') }}", method="POST">
                <select id="search-field" name="search-field">
                    <option value="title">Title</option>
                    <option value="description">Description</option>
                    <option value="company">Company</option>
                    <option value="location">location</option>
                </select>
                <input type="text" id="text-box" name="some_input" placeholder="Enter to search job">
                <input type="submit" id="button" value="Submit">
            </form>
        </div>
            <div class="force-newline">
            </div>
            <div class="dashboard-container">
                {% for job in jobs%}
                    <div class="dashboard-item">
                        <div class="item-top">
                            <img src="{{ url_for('static', filename='images/a cute panda.png') }}" alt="icon" class="item-icon-image">
                            <h4>{{ job.title }}</h4>
                        </div>
                        <div class="texts">
                            <p>Company: {{ job.company }}</p>
                            <p>Description: {{ job.description }}</p>
                            <p>Location: {{ job.location }}</p>
                            <p>
                                Posted: 
                                {% set delta = reference_time - job.post_time %}
                                {% if delta.days >= 365 %}
                                    {{ delta.days // 365 }} year(s) ago
                                {% elif delta.days >= 30 %}
                                    {{ delta.days // 30 }} month(s) ago
                                {% elif delta.days > 0 %}
                                    {{ delta.days }} day(s) ago
                                {% elif delta.seconds >= 3600 %}
                                    {{ delta.seconds // 3600 }} hour(s) ago
                                {% else %}
                                    Just now
                                {% endif %}
                            </p>
                            <p>Salary: ${{ job.salary }}</p>
                        </div>
                        <form>
                            <input type="submit" value="Apply">
                        </form>
                    </div>
                {% endfor %}
            </div>

    </div>

{% endblock %}