{% extends "base.html" %}
{% block content %}
    <h1>Post Job</h1>
    <div class="form-container">
        <div class="login_form">
            <form method="POST" id="login">
                {{ form.hidden_tag() }}
                <label>Job Title:</label>
                {{ form.title }}
                <label>Company:</label>
                {{ form.company }}
                <label>Description:</label>
                {{ form.description }}
                <label>Location:</label>
                {{ form.location }}
                <label>Salary:</label>
                {{ form.salary }}
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
