{% extends "base.html" %}
{% block content %}

    <h1>View Application</h1>
    <div id="app-data" data-application-id="{{ application_id }}">
        <p>Status: <span id="statusText">Loading...</span></p>
        <div id="actionLinks">
            <a href="#" id="approveLink">Approve</a>
            <a href="#" id="rejectLink">Reject</a>
        </div>
        <a id="downloadLink" href="#">Loading file...</a>
        <iframe id="viewLink" src="/view/resume_1.pdf"></iframe>    
    </div>


{% endblock %}